.blood-glucose-level-container {
  display: flex;
  align-items: center;
  margin-bottom: 50px; /* adjust as needed */
}


.level-container {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.level {
  position: absolute;
  z-index: 1;
}

img {
  width: 100px;
  height: 100px;
  transform-origin: center;
}
