.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
  }
  
  .graph-container {
    width: 40%;
    height: 40%;
  }
  
  .settings-button {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: -3000px;
    width: 300px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    transition: left 0.5s ease;
  }
  
  .sidebar.open {
    left: 0;
  }

  .button-container {
    align-self: center;
  }
