.dashboard {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.graph-container {
  width: 50vh;
  height: 50vh;
}

.warningThresholds-container {
  width: 30vh;
  height: 50vh;
  margin-right: 10vh;
}

.settings-button {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 2rem;
  color: black;
  background: none;
  border: none;
}

.button-group {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  width: 60%; 
}

.button-container {
  margin: 0 20px; 
}
