.ResetPassword {
  background-color: #121212;
}

.ResetPassword-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.ResetPassword-content h1,
.ResetPassword-content p,
.ResetPassword-content input,
.ResetPassword-content button {
  color: #ffffff;
}

.ResetPassword-content h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.ResetPassword-content p {
  font-size: 1.2em;
  margin-bottom:20px
}

.ResetPassword-content input {
    width:80%;
    padding :15px ;
    margin :10px ;
    font-size :1.2em ;
    background-color :#2b2b2b ;
}

.ResetPassword-content .button-container {
    width :80% ;
    display :flex ;
    justify-content: space-between;
}

.ResetPassword-content .button-container button{
  padding: 10px;
  width: 45%;
  margin-right: 20px;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}

.ResetPassword-content .button-container button:hover{
    background-color :#00cc00 ;
}

.ResetPassword-content .button-container button[disabled]{
    background-color :#7f7f7f ;
}

