.LoginPage {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .LoginPage input, .LoginPage .button-container {
    margin-bottom: 20px;
    width: 300px; /* adjust this to your liking */
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .button-container button {
    padding: 10px; /* optional: add some padding */
    width: 45%; /* keep this as is */
  }
  
  .LoginPage input, .LoginPage button {
    font-size: 1em; /* adjust font size here */
  }
  
  .LoginPage-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .LoginPage-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .LoginPage-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .LoginPage-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  